absl-py==1.3.0
altair==4.2.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.11.7
asttokens==2.0.8
astunparse==1.6.3
attrs==22.1.0
auth==0.5.3
autopep8==1.6.0
autoviz==0.1.720
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bertopic==0.15.0
bleach==5.0.1
blinker==1.6.2
blis==0.7.10
bokeh==2.4.3
branca==0.6.0
cachetools==4.2.4
catalogue==2.0.9
certifi==2022.9.24
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.5
colorcet==3.0.1
commonmark==0.9.1
confection==0.1.1
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
dash==2.8.1
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-holoniq-wordcloud==0.0.4
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.10.2
dash-table==5.0.0
dash-tools==1.11.1
db-dtypes==1.0.4
deap==1.3.3
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
dm-tree==0.1.8
dnspython==2.4.2
docopt==0.6.2
emoji==2.5.1
entrypoints==0.4
et-xmlfile==1.1.0
etils==0.8.0
eventlet==0.33.3
executing==1.1.1
falcon==3.1.1
fastapi==0.97.0
fastjsonschema==2.16.2
filelock==3.12.2
flake8==4.0.1
Flask==2.3.2
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.38.0
fsspec==2022.10.0
funcy==2.0
gast==0.4.0
gensim==4.2.0
gitdb==4.0.9
GitPython==3.1.29
greenlet==2.0.2
grpcio==1.50.0
grpcio-status==1.48.2
gunicorn==20.1.0
h11==0.12.0
h5py==3.7.0
hdbscan==0.8.33
holoviews==1.14.9
html5lib==1.1
htmlmin==0.1.12
httpcore==0.15.0
httplib2==0.22.0
httpx==0.23.0
hvplot==0.7.3
identify==2.5.24
idna==3.4
ImageHash==4.3.1
imageio==2.22.2
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==5.0.0
importlib-resources==5.10.0
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==6.15.3
ipympl==0.9.2
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==7.7.2
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.10
jsonschema==4.16.0
kiwisolver==1.4.4
langcodes==3.3.0
langdetect==1.0.7
lazy-object-proxy==1.7.1
libclang==14.0.6
llvmlite==0.40.1
locket==1.0.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.6.1
memoized-property==1.0.3
missingno==0.5.1
mistune==0.8.4
mongoengine==0.27.0
mpmath==1.3.0
multimethod==1.8
murmurhash==1.0.9
namex==0.0.7
nbclassic==0.4.7
nbclient==0.7.0
nbconvert==6.5.4
nbformat==5.7.0
nbresult==0.0.9
nest-asyncio==1.5.6
networkx==2.8.7
nltk==3.7
nodeenv==1.8.0
notebook==6.4.12
notebook_shim==0.2.0
numba==0.57.1
numexpr==2.8.7
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.7.0.72
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==21.3
pandas==2.1.1
pandas-dq==1.28
pandas-gbq==0.17.9
pandas-profiling==3.3.0
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parso==0.8.3
partd==1.3.0
pathy==0.10.2
patsy==0.5.3
pbr==5.11.1
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.11
platformdirs==3.5.3
plotly==5.9.0
pluggy==1.0.0
pmdarima==2.0.1
polars==0.18.7
pre-commit==2.16.0
preshed==3.0.8
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.31
proto-plus==1.22.1
protobuf==3.20.3
psutil==5.9.3
psycopg2-binary==2.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyamg==5.0.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycodestyle==2.8.0
pycparser==2.21
pyct==0.5.0
pydantic==1.9.2
pydata-google-auth==1.4.0
pydeck==0.8.0
pyflakes==2.4.0
Pygments==2.13.0
pyLDAvis==3.4.1
pylint==2.14.5
pymongo==4.4.1
Pympler==1.0.1
pynndescent==0.5.10
pyparsing==3.0.9
pyrsistent==0.18.1
pytesseract==0.3.10
pytest==6.2.5
pytest-asyncio==0.19.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-slugify==6.1.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.3.2
PyWavelets==1.4.1
PyYAML==5.4.1
pyzmq==24.0.1
qtconsole==5.4.3
QtPy==2.3.1
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
sacremoses==0.0.53
safetensors==0.3.1
semver==2.13.0
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
setuptools-scm==6.4.2
six==1.16.0
smart-open==6.2.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.3.2.post1
srsly==2.4.7
stack-data==0.5.1
starlette==0.27.0
statsmodels==0.13.2
stevedore==5.1.0
stopit==1.1.2
sympy==1.12
tangled-up-in-unicode==0.2.0
tenacity==8.1.0
termcolor==1.1.0
terminado==0.16.0
text-unidecode==1.3
textblob==0.17.1
tf-slim==1.1.0
thinc==8.1.12
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.2
TPOT==0.11.7
tqdm==4.64.1
traitlets==5.5.0
transformers==4.30.2
typer==0.9.0
typing_extensions==4.4.0
tzdata==2022.5
tzlocal==4.2
ultralytics==8.0.117
umap-learn==0.5.3
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.12
validators==0.20.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
visdcc==0.0.50
visions==0.7.5
wasabi==1.1.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.3.6
widgetsnbextension==3.6.1
wordcloud==1.9.2
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.0.3
yapf==0.32.0
yarg==0.1.9
yolk3k==0.9
zipp==3.10.0
