body {
  /* background-color: #e3e0ff; */
  background-image: url("/assets/pastel-background.jpeg");
  color: rgb(31, 8, 8);
  font-family: monospace;
  align-content: center;
}



/* .wrapper {
  width: 85%;
  margin: 0 auto;
}

.chart_title {
  color: black;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 1em;
  font-family: 'Raleway', sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.flex h1 {
  margin: 0;
} */



/* .flex {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.chart_title {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
} */
